<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="INFO">
	<Properties>
		<Property name="myfilename">logs/basic-weather-app.log</Property>
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] %logger{36} - %msg%n" />
		</Console>
		<File name="Filelog" fileName="${myfilename}" immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</appenders>

	<loggers>
		<root level="INFO">
<!-- 			<appenderRef ref="Console" /> -->
			<appenderRef ref="Filelog" />
		</root>
	</loggers>
</configuration>